.formControlInner {
    position: relative;
}

.inputWrapper {
    position: relative;
    width: 100%;
    min-height: 56px;
    background: var(--color-light-grey);
    border-radius: 4px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill {
    --webkit-text-fill-color: #ссс;
    --webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
}

.input {
    position: relative;
    background: none;
    border: none;
    outline: none;
    display: block;
    height: 100%;
    width: 100%;
    margin: 0;
    text-overflow: ellipsis;
    padding: 26px 40px 12px 12px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1px;
    color: var(--color-black);
    border-bottom: 1px solid var(--border-color);
    &.error {
        border-color: var(--color-negative);
    }
    &:disabled {
    }
}

.errorHint {
    color: var(--color-negative);
}

.hint {
    margin: 2px 0 0 12px;
}

input.password {
    font-family: 'Password';
    letter-spacing: 0.5px;
}

.placeholder {
    position: absolute;
    left: 12px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.2s ease;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    font-size: var(--fontsize-xs);
    line-height: 16px;
    letter-spacing: 0.1px;
    color: var(--color-black);
    &.filled {
        font-weight: 500;
        line-height: 16px;
        color: var(--subtitle);
        letter-spacing: 0.2px;
        top: 6px;
        transform: translateY(0);
    }
}

.iconsWrapper {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    gap: 0 4px;
}

.eyeButton {
    padding: 0;
    background: none;
    border: none;
    outline: none;
    width: 24px;
    height: 24px;
    cursor: pointer;
}
