.footerBlock {
    margin-top: auto;
}

.footer {
    display: flex;
    justify-content: space-between;
    height: 56px;
    align-items: center;
}

.line {
    width: 100%;
    height: 1px;
    margin: 0;
    border: none;
    background-color: var(--border-color);
}

.socialLinks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 24px;
}

@media (max-width: 500px) {
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 104px;
        align-items: center;
    }

    .copyright {
        text-align: center;
        padding-top: 16px;
    }

    .socialLinks {
        padding-bottom: 8px;
    }
}
