.search {
    display: grid;
    grid-auto-flow: column;
    column-gap: 6px;
    align-items: center;
}

.input {
    margin: 0;
    background-image: url(./assets/icon-search.svg);
    background-repeat: no-repeat;
    background-position: 16px;
    width: 350px;
    height: 38px;
    background-color: var(--background-main);
    box-shadow: none;
    border: 1px solid #e3e3e3;
    border-radius: 599px;
    padding-left: 40px;
    transition: all 0.2s linear;
}

.input:hover {
    box-shadow: var(--box-shadow-button-menu-hover);
}

.input:focus {
    outline: none;
    caret-color: #f83600;
    background-image: url(./assets/icon-search-color.svg);
}

.searchButton {
    display: none;
}

.searchButtonClose {
    background-color: inherit;
    width: 16px;
    height: 16px;
    border: none;
    cursor: pointer;
}

@media (max-width: 1070px) {
    .input {
        width: 274px;
    }
}

@media (max-width: 1000px) {
    .input {
        width: 350px;
    }
}

@media (max-width: 800px) {
    .input {
        width: 274px;
    }
}

@media (max-width: 500px) {
    .search {
        height: 38px;
        align-items: start;
    }

    .input {
        top: 0;
        left: 0;
        width: 88vw;
        height: 38px;
        background-image: none;
        padding-left: 16px;
        position: absolute;
        display: none;
    }

    .buttonShow {
        display: block;
        position: relative;
    }

    .searchButtonClose {
        position: absolute;
        right: 30px;
        top: 11px;
    }

    .searchButton {
        display: grid;
        width: 38px;
        height: 38px;
        justify-content: center;
        align-items: center;
        background-color: var(--background-main);
        box-shadow: var(--box-shadow-button);
        border: none;
        border-radius: 599px;
        grid-auto-flow: column;
        cursor: pointer;
    }

    .input:focus {
        border: 1px solid #e3e3e3;
        background-image: none;
    }
}

@media (max-width: 370px) {
    .input {
        width: 84vw;
        height: 32px;
    }

    .searchButton {
        width: 30px;
        height: 30px;
    }

    .searchButtonClose {
        top: 8px;
    }
}

.buttonHidden {
    display: none;
}
