.swiper-pagination-bullet {
    background: var(--border-color);
    height: 7px;
    width: 7px;
}

.swiper-pagination-bullet-active {
    background: #363636;
    height: 9px;
    width: 9px;
}

@media (max-width: 500px) {
    .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 5px);
    }

    .swiper-pointer-events {
        width: calc(100vw - 32px);
        height: auto;
    }

    .swiper-pagination {
        margin-top: 24px;
        position: static;
    }
}
