.container {
    padding: 48px 56px;
    max-width: 528px;
    min-width: 528px;
    width: 100%;
}

form {
    margin-top: 32px;
}

.inputsWrapper {
    display: grid;
    gap: 36px 0;
}

.hint {
    margin: 20px 0 0 12px;
}

.button {
    width: 100%;
    margin: 32px 0 16px;
}

.step {
    margin-top: 8px;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1px;
}

.header {
    position: relative;
    margin: -48px -56px 32px -56px;
    padding: 20px;
    background: var(--color-light-grey);
    overflow: hidden;
    z-index: 0;
}

.hint {
    margin: 2px 0 0 12px;
}

.errorHint {
    color: var(--color-negative);
}

@media (min-width: 550px) {
    .button {
        font-size: var(--fontsize-s);
        line-height: 150%;
        height: 52px;
        border-radius: 30px;
    }
}

@media (max-width: 640px) {
    .header {
        margin: -24px -16px 32px -16px;
    }

    .container {
        min-width: auto;
        padding: 24px 16px;
    }
}
